.page {
  display: flex;
  justify-content: space-around;
}

.centered-box {
  width: 500px;
  margin: 50px 0;
  background-color: #009999;
  text-align: center;
  padding: 50px;
}

table {
  margin: auto;
  background-color: white;
}

th {
  color: yellow;
  background-color: #000666;
  padding: 10px 20px;
}

.edit {
  color: black;
}

.profile-pic {
  width: 60%;
  height: 60%;
  max-height: 300px;
}